@font-face {
    font-family: 'lilita_oneregular';
    src: url('fonts/lilitaone-regular-webfont.woff2') format('woff2'),
         url('fonts/lilitaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: lilita_oneregular;
    font-size: 20pt;
    background-color: white;
    margin: 0;
}

#site_top {
    background-color: black;
    height: 25vh;
    width: 100%;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#smaller_site_top {
    background-color: black;
    height: 10vh;
    width: 100%;
    
    display: inline-flex;
    align-items: center;
    justify-content: left;
}

#site_top h1, #smaller_site_top h1 {
    color: white;
    font-size: 8vh;
    font-weight: lighter;
    margin-left: 1vw;
}

#site_top img, #smaller_site_top img {
    float: left;
    height: 8vh;
    width: auto;
    margin-left: 1vw;
}

.button_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-around;
}

.button_area:nth-of-type(2) {
    margin-top: 3vh;
}

.button {
    width: 200px;
    height: 150px;
    background-color:gray;

    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 3vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

a.button {
    text-decoration: none;
    color: white;
    text-align: center;
}

.button_row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
}

.button_lb {
    width: auto;
    border: 1pt solid gray;
    
    margin-top: 2vh;
    margin-bottom: 0;
    margin-right: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;

    display: inline-flex;
    justify-content: left;
    align-items: center;
}

.button_row a:first-child .button_lb {
    margin-left: 3vw;
}

.button_lb:hover {
    background-color: lightgray;
}

.button_lb p {
    font-size: 75%;
}

.button:hover {
    background-color: lightgray;
    color: black;
}

p.category {
    margin-left: 1vw;
    font-size: 150%;
    margin-top: 0;
    margin-bottom: 2vh;
}

p.subcategory {
    margin-left: 1vw;
    font-size: 110%;
    margin-top: 0;
    margin-bottom: 0.5vh;
}

.club_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-content: space-around;
    margin-top: 2vh;
}

.club {
    border: black 1pt solid;
    width: 45vw;
    max-width: 94vw;
    margin-left: 3vw;
    margin-bottom: 3vh;
    background-color: lightgray;
}


.icon {
    height: 3vh;
    margin-right: 0.5vw;
}

.icon_bigger {
    height: 5vh;
    margin-right: 0.5vw;
}


.info {
    margin-right: 0.5vw;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    justify-content: space-between;
}

.center {
    display: inline-flex;
    align-items: center;
}

.description {
    font-size: 75%;
    padding: 2pt;
    border: solid 1pt black;
    background-color: whitesmoke;
    
    width: 100%;
}

.red {
    color: red;
}

.space_left {
    margin-left: 1vw;
}

.club .show_on_hover {
    visibility: hidden;
}

.club:hover .show_on_hover {
    visibility: visible;
}

.club .enable_on_hover {
    display: none;
}

.club:hover .enable_on_hover {
    display: block;
}

a.link {
    text-decoration: none;
    color: inherit;
}

/* CLUB SINGLE */

table#members {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 1vh;
    width: 96vw;
    overflow-x: hidden;
}

table #position {
    width: 3vw;
}

table#members #header {
    background-color: lightslategray;
}

table#members th {
    text-align: left;
    padding: 10px;
}

table#members th, table#members td {
    padding-left: 10px;
}

table#members tr:nth-of-type(2n) {
    background-color: lightgray;
}

#members .text_center {
    text-align: center;
}

#members th.sorted.ascending:after {
	content: " ↑";
}

#members th.sorted.descending:after {
    content: " ↓";
}

.error {
    margin-left: 2vw;
}

p.loading {
    margin-left: 3vw;
    font-size: 150%;
    margin-top: 0;
}

p.nothing {
    margin-left: 3vw;
    font-size: 150%;
    margin-top: 3vh;
}

/* CLUB HISTORY */

#chart_container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    margin-bottom: 2vh;
    width: 95vw;
}

hr {
    1pt solid lightgray;
}

@media (max-width: 1200px) {
    .club {
        width: 95vw;
    }

    body {
        font-size: 100%;
    }

    #smaller_site_top h1 {
        font-size: 4vh;
    }

    #smaller_site_top img {
        height: 5vh;
    }

    .button_lb {
        margin-top: 2vh;
    }

    .button {
        width: 150px;
    }

    .icon_bigger {
        height: 3vh;
    }

    table#members {
        font-size: 80%;
        width: 100%;
    }
}





