/* CLUB LOG */

#log_area {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 95vw;

    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.log_entry {
    width: 90vw;
    margin-bottom: 5px;
    height: 5vh;
    display: inline-flex;
}

.log_entry .time {
    background-color: whitesmoke;
    margin: 0;
    margin-right: 1vw;
    padding-left: 10px;
    width: 10vw;
}

.log_entry .data {
}

#join {
    background-color: lightgreen;
    border: 1px solid green;
}

#leave {
    background-color: rgb(236, 45, 54);
    border: 1px solid red;
}
