<!DOCTYPE html>
<html>
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GGCX42N87F"></script>
        <script src="{{url_for('static', filename='analytics.js')}}" type="text/javascript"></script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        
        <div id="smaller_site_top">
            <a href="/index"><img src="{{ url_for('static', filename='img/la_logo.png') }}" alt="LA logo"></a>
            <h1>{{ title }}</h1>
        </div>

        <div class="button_row">
            <!-- <a href="index" class="link">
                <div class="button_lb">
                    <p>HOME</p>  
                </div>
            </a> -->
            {% if low %}
            <a href="clubs?type=low&members=92" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/members.png') }}" alt="members"> <p>&lt92</p>  
                </div>
            </a>
            <a href="clubs?type=low&members=94" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/members.png') }}" alt="members"> <p>&lt94</p>  
                </div>
            </a>
            <a href="clubs?type=low&members=96" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/members.png') }}" alt="members"> <p>&lt96</p>  
                </div>
            </a>
            <a href="clubs?type=low&members=98" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/members.png') }}" alt="members"> <p>&lt98</p>  
                </div>
            </a>
            {% endif %}
            {% if lb_link != "" %}
            <a href="lb?{{ lb_link }}&limit=200" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/lb.png') }}" alt="club trophies icon"> <p>TROPHY LEADERBOARD</p>  
                </div>
            </a>
            {% endif %}
        </div>

        {% if low and not clubs %}
        <p class="nothing">
        No low clubs!
        </p>
        {% endif %}

        <div class="club_area">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>