<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Brawl Stars clubs of LA Gaming organization - {{ title }}">
        <title>LA clubs - {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        
        <div id="smaller_site_top">
            <a href="/index"><img src="{{ url_for('static', filename='img/la_logo.png') }}" alt="LA logo"></a>
            <h1>{{ title }}</h1>
        </div>

        <div class="button_row">
            <!-- <a href="index" class="link">
                <div class="button_lb">
                    <p>HOME</p>  
                </div>
            </a> -->
            {% if low %}
            <a href="clubs?type=low&members=22" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/members.png') }}" alt="members"> <p>&lt22</p>  
                </div>
            </a>
            <a href="clubs?type=low&members=24" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/members.png') }}" alt="members"> <p>&lt24</p>  
                </div>
            </a>
            <a href="clubs?type=low&members=26" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/members.png') }}" alt="members"> <p>&lt26</p>  
                </div>
            </a>
            <a href="clubs?type=low&members=28" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/members.png') }}" alt="members"> <p>&lt28</p>  
                </div>
            </a>
            {% endif %}
            {% if lb_link != "" %}
            <a href="lb?{{ lb_link }}&limit=200" class="link">
                <div class="button_lb">
                    <img class="icon" src="{{ url_for('static', filename='img/lb.png') }}" alt="club trophies icon"> <p>TROPHY LEADERBOARD</p>  
                </div>
            </a>
            {% endif %}
        </div>

        {% if low and not clubs %}
        <p class="nothing">
        No low clubs!
        </p>
        {% endif %}

        <div class="club_area">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
