<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Brawl Stars clubs of LA Gaming organization - {{ title }}">
        <title>LA clubs - {{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        
        <div id="smaller_site_top">
            <a href="/index"><img src="{{ url_for('static', filename='img/la_logo.png') }}" alt="LA logo"></a>
            <h1>{{ title }}</h1>
        </div>

        <div class="user_box">
            <img src='{{ user.avatar_url }}' width=""/>
            <p>{{ user.name }}</p>
        </div>

        <p class="category first_category">SETTINGS:</p>
        <div class="button_area">
            <a class="button" href="">CLUBS</a>
            <a class="button" href="">SERVERS</a>
        </div>
        
        <p class="category">ADD CLUB:</p>
        <form action="" method="">
            <label for="club_tag">Club tag:</label>
            <input type="text" name="club_tag" id="club_tag"><br>
            
            <label for="club_region">Region:</label>
            <input type="text" name="club_region" id="club_region" list="regions"><br>
                <datalist id="regions">
                    <option value="EU">
                    <option value="AS">
                    <option value="AU">
                    <option value="NA">
                </datalist>

            <label for="club_country">Country:</label>
            <input type="text" name="club_country" id="club_country" list="countries"><br>
                <datalist id="countries">
                    <option value="SPAIN">
                    <option value="PORTUGAL">
                    <option value="UK">
                    <option value="USA">
                    <option value="INDIA">
                </datalist>

            <input type="submit" value="ADD CLUB">
        </form>

    </body>
</html>
