<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LA Clubs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>

        <div id="site_top">
            <img src="{{ url_for('static', filename='img/la_logo.png') }}" alt="LA logo">
            <h1>LA CLUBS</h1>
        </div>

        <div class="button_area">
            <a class="button" href="clubs?type=all">ALL CLUBS</a>
            <a class="button" href="clubs?type=low">LOW CLUBS</a>
        </div>

        <p class="category">REGIONS:</p>
        <div class="button_area">
            <a class="button" href="clubs?region=eu">EUROPE</a>
            <a class="button" href="clubs?region=as">ASIA</a>
            <a class="button" href="clubs?region=na">NORTH AMERICA</a>
            <a class="button" href="clubs?region=la">LATAM</a>
            <a class="button" href="clubs?region=au">AUSTRALIA</a>
            <a class="button" href="clubs?region=af">AFRICA</a>
        </div>

        <p class="category">COUNTRIES:</p>
        <div class="button_area">
            <a class="button" href="clubs?country=uk">UK</a>
            
            
            <a class="button" href="clubs?country=spain">SPAIN</a>
            <a class="button" href="clubs?country=portugal">PORTUGAL</a>
            <a class="button" href="clubs?country=poland">POLAND</a>
            <a class="button" href="clubs?country=finland">FINLAND</a>
            <a class="button" href="clubs?country=croatia">CROATIA</a>
            <a class="button" href="clubs?country=switzerland">SWITZERLAND</a>

            <a class="button" href="clubs?country=egypt">EGYPT</a>

            <a class="button" href="clubs?country=india">INDIA</a>
            <a class="button" href="clubs?country=iran">IRAN</a>
            <a class="button" href="clubs?country=pakistan">PAKISTAN</a>
            <a class="button" href="clubs?country=bangladesh">BANGLADESH</a>
            <a class="button" href="clubs?country=singapore">SINGAPORE</a>
            
            <a class="button" href="clubs?country=argentina">ARGENTINA</a>
            <a class="button" href="clubs?country=uruguay">URUGUAY</a>
            <a class="button" href="clubs?country=paraguay">PARAGUAY</a>
            <a class="button" href="clubs?country=venezuela">VENEZUELA</a>
            <a class="button" href="clubs?country=colombia">COLOMBIA</a>
            <a class="button" href="clubs?country=honduras">HONDURAS</a>
            <a class="button" href="clubs?country=chile">CHILE</a>
            <a class="button" href="clubs?country=peru">PERU</a>
            <a class="button" href="clubs?country=dominicanrepublic">DOMINICAN REPUBLIC</a>
            <a class="button" href="clubs?country=guatemala">GUATEMALA</a>
            <a class="button" href="clubs?country=nicaragua">NICARAGUA</a>
            <a class="button" href="clubs?country=elsalvador">EL SALVADOR</a>

            <a class="button" href="clubs?country=usa">USA</a>
        </div>
    </body>
</html>