<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Brawl Stars clubs of LA Gaming organization">
        <title>LA clubs - Brawl Stars</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>

        <div id="site_top">
            <img src="{{ url_for('static', filename='img/la_logo.png') }}" alt="LA logo">
            <h1>LA CLUBS</h1>
        </div>

        <div class="button_row">
            <a href="https://discord.gg/Jun3Rf4EgN" class="link">
                <div class="button_media">
                    <img class="icon" src="{{ url_for('static', filename='img/discord-black.png') }}" alt="discord icon"> <p>DISCORD SERVER</p>  
                </div>
            </a>
            <a href="https://twitter.com/LAGamingBS" class="link">
                <div class="button_media">
                    <img class="icon" src="{{ url_for('static', filename='img/twitter-black.png') }}" alt="twitter icon"> <p>TWITTER</p>  
                </div>
            </a>
        </div>

        <p class="category first_category">TROPHY LEADERBOARD:</p>
        <div class="button_area">
            <a class="button" href="lb?limit=100">TOP 100 PLAYERS</a>
            <a class="button" href="lb?limit=500">TOP 500 PLAYERS</a>
            <a class="button" href="lb?limit=1000">TOP 1000 PLAYERS</a>
        </div>

        <p class="category">CLUBS:</p>
        <div class="button_area">
            <a class="button" href="clubs?type=all">ALL CLUBS</a>
        </div>

        <p class="category">REGIONS:</p>
        <div class="button_area">
            <a class="button" href="clubs?region=as">ASIA</a>
            <a class="button" href="clubs?region=au">AUSTRALIA</a>
            <a class="button" href="clubs?region=eu">EUROPE</a>
            <a class="button" href="clubs?region=latam">LATAM</a>
            <a class="button" href="clubs?region=me">MIDDLE EAST</a>
            <a class="button" href="clubs?region=na">NORTH AMERICA</a>
        </div>

        <p class="category">COUNTRIES:</p>
        <p class="subcategory">ASIA</p>
        <div class="button_area">
            <a class="button" href="clubs?country=bangladesh">BANGLADESH</a>
            <a class="button" href="clubs?country=hongkong">HONG KONG</a>
            <a class="button" href="clubs?country=india">INDIA</a>
            <a class="button" href="clubs?country=singapore">SINGAPORE</a>
            <a class="button" href="clubs?country=syria">SYRIA</a>
        </div>

        <p class="subcategory">EUROPE</p>
        <div class="button_area">
            <a class="button" href="clubs?country=croatia">CROATIA</a>
            <a class="button" href="clubs?country=finland">FINLAND</a>
            <a class="button" href="clubs?country=germany">GERMANY</a>
            <a class="button" href="clubs?country=poland">POLAND</a>
            <a class="button" href="clubs?country=portugal">PORTUGAL</a>
            <a class="button" href="clubs?country=switzerland">SWITZERLAND</a>
            <a class="button" href="clubs?country=spain">SPAIN</a>
            <a class="button" href="clubs?country=uk">UK</a>
        </div>

        <p class="subcategory">NORTH AMERICA</p>
        <div class="button_area">
            <a class="button" href="clubs?country=canada">CANADA</a>
            <a class="button" href="clubs?country=usa">USA</a>
        </div>
        
        <p class="subcategory">LATIN AMERICA</p>
        <div class="button_area">
            <a class="button" href="clubs?country=argentina">ARGENTINA</a>
            <a class="button" href="clubs?country=bolivia">BOLIVIA</a>
            <a class="button" href="clubs?country=brazil">BRAZIL</a>
            <a class="button" href="clubs?country=chile">CHILE</a>
            <a class="button" href="clubs?country=colombia">COLOMBIA</a>
            <a class="button" href="clubs?country=dominicanrepublic">DOMINICAN REPUBLIC</a>
            <a class="button" href="clubs?country=ecuador">ECUADOR</a>
            <a class="button" href="clubs?country=elsalvador">EL SALVADOR</a>
            <a class="button" href="clubs?country=guatemala">GUATEMALA</a>
            <a class="button" href="clubs?country=mexico">MEXICO</a>
            <a class="button" href="clubs?country=paraguay">PARAGUAY</a>
            <a class="button" href="clubs?country=peru">PERU</a>
            <a class="button" href="clubs?country=uruguay">URUGUAY</a>
            <a class="button" href="clubs?country=venezuela">VENEZUELA</a>
        </div>

        <p class="category">MANAGEMENT:</p>
        <div class="button_area">
            <a class="button" href="clubs?type=low">LOW CLUBS</a>
        </div>
    </body>
</html>
