{% extends "lb_base.html" %}

{% block content %}
<div id="lb_data">
    <table id="members">
        <colgroup>
            <col id="position">
            <col id="name">
            <col id="club">
            <col id="trophies">
        </colgroup>
        <thead>
            <tr id="header">
                <th class="text_center">#</th>
                <th>NAME</th>
                <th>CLUB</th>
                <th>TROPHIES</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script nonce="{{ csp_nonce() }}">
    const limit = {{ limit }};
    const trophy_icon = "{{ url_for('static', filename='img/icons/') }}";
    const badge_icon = "{{ url_for('static', filename='img/badges/') }}";
    const league_icon = "{{ url_for('static', filename='img/leagues/league_') }}";

    $( document ).ready(() => {
        fetch("{{ request_url|safe }}")
        .then(response => response.json())
        .then(players => {
            players.forEach((player, index) => {
                let row =  $('<tr>');
                row.attr('id', (player['tag'].toLowerCase()).replace('#', ''));
                row.append( $('<td>')
                    .attr('class', 'text_center')
                    .text(index+1)
                );
                row.append( $('<td>')
                    .attr('class', 'center')
                    .append( $('<img>')
                        .attr('class', 'icon_bigger')
                        .attr('src', trophy_icon + player['icon'] + '.png')
                        .attr('alt', 'profile icon')
                    )
                    .append( $('<span>')
                        .text(player['name'])
                    )
                );
                row.append( $('<td>')
                    .attr('class', 'center')
                    .append( $('<img>')
                        .attr('class', 'icon_bigger')
                        .attr('src', badge_icon + player['club_badge'] + '.png')
                        .attr('alt', 'club badge')
                    )
                    .append( $('<span>')
                        .text(player['club_name'])
                    )
                );
                /* row.append( $('<td>')
                    .attr('class', 'center')
                    .append( $('<img>')
                        .attr('class', 'icon_bigger')
                        .attr('src', league_icon + player['league_badge'] + '.png')
                        .attr('alt', 'league badge')
                    )
                    .append( $('<span>')
                        .text(player['trophies'])
                    )
                ); */
                $('#members').find('tbody').append(row);
            })
        })
    });
</script>
{% endblock %}