{% extends "lb_base.html" %}

{% block content %}
<div id="lb_data">
    <table id="members">
        <colgroup>
            <col id="position">
            <col id="name">
            <col id="club">
            <col id="trophies">
        </colgroup>
        <thead>
            <tr id="header">
                <th class="text_center">#</th>
                <th>NAME</th>
                <th>CLUB</th>
                <th>TROPHIES</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <p class="loading" id="loading">
        {% if limit < 0 or limit > 5000  %}
        Loading data. This might take a while...
        {% else %}
        Loading data...
        {% endif %} 
    </p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" nonce="{{ csp_nonce() }}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script nonce="{{ csp_nonce() }}">
    const profile_icon = "https://cdn.brawlify.com/profile-low/";
    const badge_icon = "{{ url_for('static', filename='img/badges/') }}";
    const league_icon = "{{ url_for('static', filename='img/leagues/league_') }}";

    let loading = $('#loading');

    $( document ).ready(() => {
        fetch("{{ request_url|safe }}")
        .then(response => response.json())
        .then(players => {
            let rows = [];
            players.forEach((player, index) => {
                let row =  $('<tr>');
                row.attr('id', (player['tag'].toLowerCase()).replace('#', ''));
                row.append( $('<td>')
                    .attr('class', 'text_center')
                    .text(index+1)
                );
                row.append( $('<td>')
                    .attr('class', 'center')
                    .append( $('<img>')
                        .attr('class', 'icon_bigger')
                        .attr('src', profile_icon + player['icon'] + '.png')
                        .attr('alt', 'profile icon')
                    )
                    .append( $('<span>')
                        .text(player['name'])
                    )
                );
                row.append( $('<td>')
                    .append( $('<div>')
                        .attr('class', 'center')
                        .append( $('<img>')
                            .attr('class', 'icon_bigger')
                            .attr('src', badge_icon + player['club_badge'] + '.png')
                            .attr('alt', 'club badge')
                        )
                        .append( $('<span>')
                            .text(player['club_name'])
                        )
                    )
                );
                row.append( $('<td>')
                    .attr('class', 'center')
                    .append( $('<img>')
                        .attr('class', 'icon_bigger')
                        .attr('src', league_icon + player['league_badge'] + '.png')
                        .attr('alt', 'league badge')
                    )
                    .append( $('<span>')
                        .text(player['trophies'])
                    )
                );
                rows.push(row);
            })
            $('#members').find('tbody').append(rows);
        })
        .then(() => loading.hide())
    });
</script>
{% endblock %}